

        .body-initial {
        }
        .silex-id-1558947682622-1 {top: 20px; left: 20px; height: 40px; width: 120px; font-size: 30px; border-color: rgb(0, 0, 0); color: rgb(47, 199, 4); text-align: left;
        }
        .silex-id-1558947800463-2 {top: 60px; left: 20px; height: 40px; width: 120px; font-size: 30px; text-align: left;
        }
        .silex-id-1559044105550-27 {top: 274px; left: 449px; height: 85px; width: 229px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1559046713350-31 {top: 274px; left: 446px; height: 85px; width: 229px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1559057437249-32 {top: 189px; left: 446px; height: 65px; width: 209px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1559040440457-7 {top: 280px; left: 60px; height: 40px; width: 40px;
        }
        .silex-id-1559040449877-9 {top: 360px; left: 20px; height: 40px; width: 40px;
        }
        .silex-id-1559107451853-35 {top: 360px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1559040433728-6 {top: 280px; left: 220px; height: 40px; width: 40px;
        }
        .silex-id-1559107460600-36 {top: 360px; left: 180px; height: 40px; width: 40px;
        }
        .silex-id-1559107462726-37 {top: 360px; left: 260px; height: 40px; width: 40px;
        }
        .silex-id-1559107654032-38 {top: 360px; left: 340px; height: 40px; width: 40px;
        }
        .silex-id-1559107659568-39 {top: 360px; left: 420px; height: 40px; width: 40px;
        }
        .silex-id-1559107663916-40 {top: 360px; left: 500px; height: 40px; width: 40px;
        }
        .silex-id-1559107666515-41 {top: 360px; left: 580px; height: 40px; width: 40px;
        }
        .silex-id-1559040430839-5 {top: 280px; left: 540px; height: 40px; width: 40px;
        }
        .silex-id-1559040446784-8 {top: 280px; left: 380px; height: 40px; width: 40px;
        }
        .silex-id-1559040416871-4 {top: 220px; left: 140px; height: 40px; width: 40px;
        }
        .silex-id-1559040414772-3 {top: 220px; left: 460px; height: 40px; width: 40px;
        }
        .silex-id-1559108375089-60 {top: 190px; left: 180px; height: 42px; width: 124px;
        }
        .silex-id-1559108398014-61 {top: 262px; left: 105px; height: 26px; width: 35px;
        }
        .silex-id-1559108451341-62 {top: 261px; left: 426px; height: 26px; width: 35px;
        }
        .silex-id-1559108458595-63 {top: 317px; left: 40px; height: 56px; width: 36px;
        }
        .silex-id-1559108608702-0 {top: 317px; left: 200px; height: 56px; width: 36px;
        }
        .silex-id-1559108634814-1 {top: 317px; left: 361px; height: 56px; width: 36px;
        }
        .silex-id-1559108647408-2 {top: 317px; left: 520px; height: 56px; width: 36px;
        }
        .silex-id-1559108738056-3 {top: 191px; left: 342px; height: 40px; width: 122px;
        }
        .silex-id-1559108774278-4 {top: 262px; left: 185px; height: 26px; width: 36px;
        }
        .silex-id-1559108798044-5 {top: 261px; left: 506px; height: 26px; width: 36px;
        }
        .silex-id-1559108812716-6 {top: 317px; left: 90px; height: 56px; width: 36px;
        }
        .silex-id-1559108850610-7 {top: 317px; left: 249px; height: 56px; width: 36px;
        }
        .silex-id-1559108862136-8 {top: 317px; left: 409px; height: 56px; width: 36px;
        }
        .silex-id-1559108875075-9 {top: 317px; left: 569px; height: 56px; width: 36px;
        }
        .silex-id-1559109361026-11 {top: 0px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1559057481291-34 {top: 220px; left: 700px; height: 85px; width: 229px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1558946851830-0 {top: 19px; left: 160px; height: 80px; width: 760px; font-size: 14px;
        }
        .silex-id-1559040344080-2 {top: 160px; left: 300px; height: 40px; width: 40px;
        }
        .silex-id-1559110509085-19 {height: 20px; width: 400px;
        }
        .silex-id-1559110509085-19 > input {
        }
        .silex-id-1559107945584-57 {top: 0x; left: 620px;
        }
        .silex-id-1559109837133-15 {top: 320px; left: 700px; height: 40px; width: 140px;
        }
        .background-initial {top:-500px; left: 140px; width: 1000px; height: 500px;
        }
    