/**
 * This file holds the basic CSS styles of Silex websites
 */

/* the body covers the whole available space */
/* the body is resized to its content size when needed in front-end.js */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  font-family: montserrat;
  min-width: 99%;
  min-height: 99%;
  position: absolute;
  padding-top: 40px;
}
/* pages */
.page-element{
  display: none;
}
.paged-element{
  display: none;
}
/* default style for silex elements */
.editable-style{
  position: absolute;
}
.silex-element-content{
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.silex-element-content > p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/* background */
.background{
  position: relative !important;
  left: 0 !important;
  top: 0 !important; /* !important is useful while editing */
  margin-left: auto;
  margin-right: auto;
  z-index: auto;
}
/* links default formatting */
.editable-style[data-silex-href]{
  cursor: pointer;
}
.text-element a, a.text-element{
  color: inherit;
  text-decoration: inherit;
}
.text-element a:hover, a.text-element:hover{
  color: inherit;
  text-decoration: underline;
}
/* Remove dots surrounding links in Firefox
    because of normalize.css */
a:focus{ outline: none;}

.container-element > .scrollcontainer-inner {
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.silex-container-scrollx {
	overflow-x: scroll;
}

.silex-container-scrolly {
	overflow-y: scroll;
}

.ctat-multchoice-option{
	margin-left:20px;
	display: block !important;
}